@font-face {
	font-family: Karla;
	src: url(../fonts/Karla-Regular.ttf);
	src: url(../fonts/Karla-Italic.ttf);
	src: url(../fonts/Karla-BoldItalic.ttf);
	src: url(../fonts/Karla-Bold.ttf);
	src: url(../fonts/Karla-Regular.ttf?#iefix) format("truetype");
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:Karla!important;
}
a{
cursor:pointer!important;
}

.row-centered {
	text-align: center;
}
.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}
.centered{
    margin: 0 auto!important;
}
:root {
  --or1: #F08519;
  --or2: #FAB903;
  --or3: #F39D03;
  --or4: #9E4D03;
  --gr1: #EEEEEF;
  --gr2: #DCDDDD;
  --gr3: #C9CACA;
  --gr4: #5F5D5D;
  --or1: #DB9A3D;
  --or2: #FFB347;
  --b1:#44A3F5;
  --b2:#177CD4;
  --b3:#034f84;
  --b4:#0361A4;
  --g1:#79c753;
  --g2:#90E264;
  --p1:#f7786b;
  --p2:#CF7459;
}
.vistrs{
	transition: visibility 0s, opacity 0.5s linear!important;
	-moz-transition:  visibility 0s, opacity 0.5s linear!important;
	-webkit-transition:  visibility 0s, opacity 0.5s linear!important;
	-o-transition:  visibility 0s, opacity 0.5s linear!important;
}
.trs{
	transition: all 0.3s ease-in-out!important;
	-moz-transition: all 0.3s ease-in-out!important;
	-webkit-transition: all 0.3s ease-in-out!important;
	-o-transition: all 0.3s ease-in-out!important;	
}
.boldtext{font-weight:bold;}
.b1 {color: black;}.b1g {background-color: black;}
.wbg{background-color:white;}
.or1bg{background-color:var( --or1);}
.or2bg{background-color:var( --or2);}
.or3bg{background-color:var( --or3);}
.gr1bg{background-color:var( --gr1);}
.gr2bg{background-color:var( --gr2);}
.gr3bg{background-color:var( --gr3);}
.nopad{
padding:0!important;
}
.roundbutton{
height:3vw;
width:3vw;
font-size:1vw;
border-radius:3vw;
border:none;
}
.sharpshadow{
-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.shd{
-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.75);
}
.softshd{
-webkit-box-shadow: -1px 0px 26px -5px rgba(0,0,0,0.22);
-moz-box-shadow: -1px 0px 26px -5px rgba(0,0,0,0.22);
box-shadow: -1px 0px 26px -5px rgba(0,0,0,0.22);
}
.roundbutton i{
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
   transition: all 0.3s ease-out;
}
.roundbutton :hover{
padding-bottom:0.5vw;
}
input[type=text],[type=password], textarea, select {
 transition: all 0.3s ease-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border:1px solid #ccc;
  border-bottom: 1px solid white;
  background-color:transparent;
}
.warning{
	border-bottom: 1px solid rgba(174, 44, 12, 1)!important;	
}
.complete{
	border-bottom: 1px solid rgba(201, 236, 48, 1)!important;	
}
::-webkit-input-placeholder { 
  color:#6AA332;
}
::-moz-placeholder { 
  color:#6AA332;
}
:-ms-input-placeholder { 
  color:#6AA332;
}
:-moz-placeholder {
  color:#6AA332;
}
 .loaded #loader {
    opacity: 0;
	    -webkit-transition: all 0.3s ease-out; 
            transition: all 0.3s ease-out;

}
.loaded #loader-wrapper {
    visibility: hidden;
	
}
 #loader-wrapper  img{
	width:10%;
	height:auto;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
	margin:0!important;
}
#loader {
     position: fixed;
    left: 0px;
    top: 40%;
    width: 100%;
    height: 100%;
    z-index: 9999;
		    -webkit-transition: all 0.8s ease-out; 
            transition: all 0.8s ease-out;
	
}
#logform{
margin-top:10vw;}
#loginlogo{
position:absolute;
z-index:99!important;
top:15%;
}
#loginlogo img{
width:15%;
}
#loginwrapper{ height:100%;width:100%;
overflow:hidden;}
#logformcont{
padding-top:8vw;
padding-bottom:4vw;
-webkit-box-shadow: -2px 0px 79px -26px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 79px -26px rgba(0,0,0,0.75);
box-shadow: -2px 0px 79px -26px rgba(0,0,0,0.75);
}
#login-form{
width:40%;
}
.securityquestion{
padding-top:1vw;
}
#logbutton{
position:absolute;
top:3vw;
width:30%;
height:4vw;
border:none;
}
#headlogo img{width:5%; margin-top:1%; margin-bottom:1%;}
#smallicons{
	position:absolute;
	list-style: none;
	margin: 0;
	padding: 0!important;
color:var(--gr4);	
font-size:1vw;
	}
#smallicons li {
	display:inline-table;
}
.smalliconsul {
	position:absolute;
	right:2vw;
	padding-left: 0;
}
.smalliconsul li a {
padding:2%;
color:var(--or3);
}
.smalliconsul li a:hover , a:focus, a:active {
	text-decoration:none;
	color:var(--or4);
	}
.smalliconsul li a i{padding:2%;
	}
	
#mainnav {
	position: relative;
	height: auto;
	margin-top: 1vw;
	width: 100%;
	padding: 0!important;
}
.mainnavul {
	list-style: none;
	margin: 0;
	padding: 0!important;
	padding-top: 10%!important;
}
.mainnavul li {
	position: relative;
	width: 100%;
	height: 5vw;
	padding-top:2.8vw;
	padding-bottom:2.8vw;
	font-size:0.8vw;
}
.mainnavul li img{
width:40%;
}
.mainnavul li p{
opacity: 0.0;
	transition: all 0.2s ease-in-out!important;
	-moz-transition: all 0.2s ease-in-out!important;
	-webkit-transition: all 0.2s ease-in-out!important;
	-o-transition: all 0.2s ease-in-out!important;
}
.mainnavul li a {
	width: 100%;
	height:auto;
	position: absolute;
	top: 50%;
	left: 50%;
	color: white;
	transform: translate(-50%, -50%);
	transition: all 0.2s ease-in-out!important;
	-moz-transition: all 0.2s ease-in-out!important;
	-webkit-transition: all 0.2s ease-in-out!important;
	-o-transition: all 0.2s ease-in-out!important;
}
.mainnavul li a:hover {
	text-decoration: none;
	color: var(--gr2);
}
.mainnavul li a:hover > p{
opacity: 1;	padding-top: 0.5vw;
}
.mainnavul li a:focus {
	color:white;
	text-decoration:none;
}
#leftnav{
padding:0!important;
position:fixed;
z-index:99!important;
}
#mainmenu {
margin-left:8.4vw;
margin-bottom:1%;
padding:0!important;
	transition: all 1s ease-in-out!important;
	-moz-transition: all 1s ease-in-out!important;
	-webkit-transition: all 1s ease-in-out!important;
	-o-transition: all 1s ease-in-out!important;
	-webkit-box-shadow: -2px 0px 79px -26px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 0px 79px -26px rgba(0,0,0,0.75);
box-shadow: -2px 0px 55px -26px rgba(0,0,0,0.75);
}


#dataTables_filter input-sm{
	padding-left:1vw;
}
#datatable_wrapper{
	max-width:100%;
}
#datatable, #tabel-mutasi{
	border:none!important;
	transition: all 0.4s ease-in-out!important;
	-moz-transition: all 0.4s ease-in-out!important;
	-webkit-transition: all 0.4s ease-in-out!important;
	-o-transition: all 0.4s ease-in-out!important;
}

#datatable thead tr th, #tabel-mutasi thead tr th{
	border:none;
	text-align:center;
}
#datatable input[type=text],#tabel-mutasi input[type=text], [type=search], textarea, select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none!important;
  padding: 3px 0px 3px 3px!important;
  margin: 5px 1px 3px 0px!important;
  border:1px solid #ccc;
  border-bottom: 1px solid #DDDDDD!important;
  background-color:transparent!important;
  box-shadow:none!important;
}
.dataTables_filter{
color:var(--or1);
font-size:1vw;
}
.dataTables_length{
color:var(--or1);
font-size:1vw;
}
.dataTables_info{
	margin-top:0.5vw!important;
	color:var(--or4)!important;
}
.pagination, .pagination li{
	margin-top:0!important; 
}
.paginate_button a{
	color:grey!important;
	border:none!important;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color:var(--or4)!important;
	border-color:var(--or3)!important;
	color:white!important;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
	background-color:var(--or1)!important;
	border-color:var(--or3)!important;
	color:white!important;
}
.sorting_1{
	background-color:none!important;
}
.selected .sorting_1{
	background-color:var(--or1)!important;
}
.even{
	background-color: #E8E8E8;
	border-top:none!important;
	border-bottom:none!important;
}
.odd{
	background-color: white;
	border-top:none!important;
	border-bottom:none!important;
}
.selected {
	background-color:var(--or1)!important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -61px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #F8D61F;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.center-panel{
	padding: 0px;
    margin-left: 20%;
    margin-right: 30%;
    margin-top: 1%;
}
.notif-bar{
	display: none;
	z-index: 100;
    color: white;
    box-shadow: 4px 5px 5px grey;
    font-size: 16px;
    background-color: #DB9A3D;
    height: 57px;
    width: 245px;
    position: fixed;
    top: 3%;
    left: 2%;
    padding: 17px 10px 10px 20px;
    border-radius: 13px;

}
.notif-link{
	color:white;
}
.notif-link:hover{
	color:white;
	font-size: 17px;
}

.close-box{
	border-style: solid;
    border-radius: 6px;
    border-width: 1px;
    margin-left: 10px;
    padding-top: 3px;
    padding-right: 1px;
    font-size: 15px;
}
a .close-box{
	color:white;
}
a .close-box:hover{
	color:white;
	font-size: 17px;
}

.yes{font-size:5vw;}.yes a{color:green;}.yes a:hover{color:var(--gr3);}
.no{font-size:5vw;}.no a{color:red;}.no a:hover{color:var(--p2);}
#logoutmodal .modal-header{background-color:var(--or2);color:white;}#logoutmodal .modal-body{height:auto;height:15vh;}